<div class="col-md-12">
	<div class="col-md-4 column">
		<div class="col-md-11">
			<h3>Data Binding Ways:</h3>
			<h4 class="colorred">- One way binding - text:</h4>
			<input class="form-control" type="text" ng-model="name" />
			<p class="break">{{ name }}</p>
			<h4 class="colorred">- One way binding - html:</h4>
			<p ng-bind="myText"></p>
			<h4 class="colorred">- One time binding:</h4>
			<input class="form-control" type="text" ng-model="onetime" /> 
			<p>{{ ::onetime }}</p>
			<h4 class="colorred">- Two way binding:</h4>
			<input class="form-control" type="text" ng-model="myname">
			<p class="break">My name is: {{ myname }}</p>
		</div>
	</div>
	<div class="col-md-3 column">
		<h3>Directives:</h3>
		<h4 class="colorred">- ng-click</h4>
		<h4 class="colorred">- ng-model</h4>
		<h4 class="colorred">- ng-cloak</h4>
		<h4 class="colorred">- ng-blur</h4>
		<h4 class="colorred">- ng-change</h4>
		<h4 class="colorred">- ng-init</h4>
		<h4 class="colorred">- ng-hide</h4>
		<h4 class="colorred">- ng-show</h4>
		<h4 class="colorred">- ng-submit</h4>
		<h4 class="colorred">- ng-disabled</h4>
		<h4 class="colorred">- ng-repeat</h4>
		<h4 class="colorred">- ng-if</h4>
	</div>
	<div class="col-md-3 column">
		<h3>Dependencies: </h3>
		<h4 class="colorred">- $scope</h4>
		<h4 class="colorred">- $rootScope</h4>
		<h4 class="colorred">- $http</h4>
		<h4 class="colorred">- $location</h4>
		<h4 class="colorred">- $state</h4>
		<h4 class="colorred">- $cookieStore</h4>
		<h4 class="colorred">- $localStorage</h4>
		<h4 class="colorred">- $sessionStorage</h4>
		<h4 class="colorred">- $q</h4>
		<h4 class="colorred">- $interval</h4>
		<h4 class="colorred">- $timeout</h4>
		<h4 class="colorred">- $window</h4>
	</div>
	<div class="col-md-2">
		<h3>Functions: </h3>
		<h4 class="colorred">- angular.forEach</h4>
		<h4 class="colorred">- angular.copy</h4>
		<h4 class="colorred">- angular.equals</h4>
		<h4 class="colorred">- angular.isNumber</h4>
		<h4 class="colorred">- angular.isObject</h4>
		<h4 class="colorred">- angular.isString</h4>
	</div>
</div>